
DATABASE_URL="mysql://root:12345678@localhost:3306/eiu_archive_db"
PORT=3000
JWT_SECRET="bi_mat_jwt_key_eiu_archive"

// Cloudflare R2 Configuration
STORAGE_ENDPOINT=link to your Cloudflare R2 endpoint
STORAGE_ACCESS_KEY=link to your Cloudflare R2 access key
STORAGE_SECRET_KEY=link to your Cloudflare R2 secret key
STORAGE_BUCKET_NAME=name of your Cloudflare R2 bucket